{
  "rules": {
    "no-unused-expressions": 0
  },
  "globals": {
    "it": true,
    "describe": true,
    "expect": true,
    "sinon": true,
    "before": true,
    "beforeEach": true,
    "after": true,
    "afterEach": true
  }
}